:root {

    /* 
     * colors
     * Ash Grey: #CCDAD1
     * Dark Ash Grey: #9CAEA9
     * Grey Olive: #788585
     * Dim Grey: #6F6866
     * Deep Mocha: #38302E
     */
    /* 60% — background */
    --light-text: #CCDAD1;

    /* 30% — primary actions and supporting surfaces) */
    --primary: #38302E;
    --secondary: #788585;

    /* 10% — accent for emphasis and interaction */
    --accent: #6F6866;
    /* Button border widths */
    --btn-border-width: 3px;
    --btn-border-width-hover: 5px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #CCDAD1;
}

/* Navbar */
.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--primary);
  color: var(--light-text);
  position: relative;
  z-index: 10000;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 20px;
}

/* Right side */
.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  color: var(--light-text);
  text-decoration: none;
  font-size: 0.95rem;
}

.nav-link:hover {
  color: #9CAEA9;
}

a.signup {
  background-color: var(--secondary);
  color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  display: inline-block;
}


a.signup:hover {
  background-color: var(--light-text);
  color: var(--primary);
}

/* Hamburger */
.hamburger {
  background: none;
  border: none;
  font-size: 1.6rem;
  color: var(--light-text);
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.hamburger:hover {
  background-color: var(--accent);
}

/* Dropdown menu */
.menu {
  display: none;
  position: absolute;
  right: 1.5rem;
  top: 70px;
  background-color: var(--accent);
  z-index: 10001;
  border-radius: 6px;
  overflow: hidden;
  min-width: 150px;
}

.menu a {
  display: block;
  padding: 0.75rem 1rem;
  color: var(--light-text);
  text-decoration: none;
  background-color: var(--accent);
  z-index: 9999;
}

.menu a:hover {
  background-color: #788585;
  color: var(--primary);
}

.container-fluid{
  background-color: var(--accent);  
}

.rounded-3{
  background-color: var(--accent);
}

.p-2{
  margin: 5px;
}

.hero{
  background-image: url('/images/map.png');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: right;
  filter:grayscale(100%) opacity(70%);
}

.hero h1{
  font-size: 72px;
  padding-right: 30PX;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero h3{
  max-width: 800px;
  margin: 0 auto;
  font-size: 23px;
  text-align: right;
  padding-right: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
